.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  .arrow {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    color: white;
    font-size: 100px;
    &:hover {
      color: yellow;
    }
  }
  .arrowLeft {
    left: 2%;
  }
  .arrowRight {
    right: 2%;
  }
  .window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .allPagesContainer {
      height: 100%;
      width: 100%;
      display: flex;
      transition: 0.3s ease-in-out;
    }
  }
}
