.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 75px;

  .title {
    font-size: 45px;
    color: blue;
    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }
  .demolitionAndDismantlingTitle {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    @media screen and (max-width: 800px) {
      font-size: 25px;
    }
    .quotesYellow {
      color: yellow;
      font-size: 80px;
      padding-right: 5px;
    }
    .titleContentBlue {
      color: blue;
    }
  }
  .lists {
    display: flex;
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
    .list {
      font-size: 25px;
      color: blue;
      img {
        width: 400px;
        @media screen and (max-width: 900px) {
          max-width: 90%;
        }
      }
      .listElem {
        list-style: none;
        margin: 35px 0;
        text-align: left;
        &::before {
          content: "\2666";
          color: yellow;
          font-size: 25px;
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
  }
  .construction {
    width: 100%;
    @media screen and (max-width: 900px) {
      margin-top: 20px;
    }
    .constructionTitle {
      font-size: 40px;
      font-weight: bold;
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        font-size: 25px;
      }
      .quotesBlue {
        color: blue;
        font-size: 80px;
        padding-right: 5px;
      }
      .titleContentBlue {
        color: blue;
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 400px;
        @media screen and (max-width: 900px) {
          max-width: 90%;
        }
      }

      .list {
        font-size: 25px;
        color: blue;
        @media screen and (max-width: 900px) {
          width: 90%;
        }

        .listElem {
          list-style: none;
          margin: 35px 0;
          text-align: left;
          &::before {
            content: "\2666";
            color: blue;
            font-size: 25px;
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
    }
  }
  .engineering {
    width: 100%;
    @media screen and (max-width: 900px) {
      margin-top: 60px;
    }
    .engineeringTitle {
      font-size: 40px;
      font-weight: bold;
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        margin-bottom: 40px;
        font-size: 25px;
      }
      .quotesYellow {
        color: yellow;
        font-size: 80px;
        padding-right: 5px;
      }
      .titleContentBlue {
        color: blue;
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .img {
        width: 400px;
        @media screen and (max-width: 900px) {
          max-width: 90%;
        }
      }
      .list {
        font-size: 25px;
        color: blue;
        @media screen and (max-width: 900px) {
          width: 90%;
        }
        .listElem {
          list-style: none;
          margin: 35px 0;
          text-align: left;
          &::before {
            content: "\2666";
            color: yellow;
            font-size: 25px;
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
